fredapi~=0.5.1
fastapi~=0.105.0
uvicorn
pandas~=2.0.3
psycopg2-binary
requests~=2.31.0
scikit-learn~=1.3.0
scipy
SQLAlchemy~=2.0.20
tensorflow
yfinance~=0.2.28
black
flake8
autopep8
isort
python-dotenv~=1.0.0
PyYAML~=6.0.1
pydantic~=2.5.2
numpy~=1.24.3
keras~=2.13.1
bcrypt~=4.1.2
python-jose[cryptography]=3.3.0
